version: '3.5'

services:
    upms-front:
        build: ./front/
        image: idler41/upms-front:1.0
        container_name: upms-front
        hostname: upms-front
        restart: always
        expose:
            - 80
        volumes:
            - type: volume
              source: upms-goaccess-html
              target: /usr/share/nginx/html/goaccess
        networks:
            net-dev:
                aliases:
                    - upms.front.com

    nginx-proxy:
        build: ./proxy/
        image: idler41/nginx-proxy:1.0
        container_name: nginx-proxy
        hostname: nginx-proxy
        restart: always
        ports:
            - 80:80
        volumes:
            - type: volume
              source: nginx-proxy-logs
              target: /var/log/nginx
        networks:
            net-dev:
                aliases:
                    - upms.proxy.com

    goaccess-upms:
        build: ./goaccess/
        image: idler41/goaccess-upms:1.0
        container_name: goaccess-upms
        ports:
            - 7890:7890
        restart: always
        volumes:
            - type: volume
              source: nginx-proxy-logs
              target: /srv/logs
            - type: volume
              source: upms-goaccess-html
              target: /srv/report
            - type: volume
              source: upms-goaccess-data
              target: /srv/data

networks:
    net-dev:
        name: net-dev
volumes:
    upms-goaccess-html:
        name: upms-goaccess-html
    upms-goaccess-data:
        name: upms-goaccess-data
    nginx-proxy-logs:
        name: nginx-proxy-logs
